@media only screen and (max-device-width: 768px) {
    .hero {
      background-image: url(https://picsum.photos/id/25/1920/1080);
      background: linear-gradient(rgba(153, 110, 109, 0.65), rgba(153, 110, 109, 0.65)), rgba(0, 0, 0, 0.55) url("../image/ios_island.png");
      background-attachment: local;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      color: white;
      box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      font-family: 'Raleway', sans-serif;
    }
  
}
  
@media only screen and (max-device-width: 1024px) {
    .hero {
    background-image: url(https://picsum.photos/id/25/1920/1080);
    background: linear-gradient(rgba(153, 110, 109, 0.65), rgba(153, 110, 109, 0.65)), rgba(0, 0, 0, 0.55) url("../image/ipad_island.png");
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;			
    color: white;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-family: 'Raleway', sans-serif;
    }
}
  
@media only screen and (min-device-width: 1025px){
    .hero {
        background-image: url(https://picsum.photos/id/25/1920/1080);
        background: linear-gradient(rgba(153, 110, 109, 0.65), rgba(153, 110, 109, 0.65)), rgba(0, 0, 0, 0.55) url("../image/island.png");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        font-family: 'Raleway', sans-serif;
    }  
}